img{
    width: 50px;
    height: 50px;
}
*{
    scroll-behavior: smooth;
}
@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e4d1d1;
}
header{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 80px;
    background-color: #796d6d;
}
#logo{
    padding: 0.4rem;
    background-color: #0a0a23;
    aspect-ratio: 35/4;
    width: max(10rem, 18vw)
}
h1{
    color: gold;
    font-family: fantasy;
    font-size: xx-large;
    text-align: center;
    text-decoration: line-through;
}
nav{
    width: 50%;
    height: 70px;
    max-width: 300px;
    display: flex;
}
nav > ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0;
    margin-block: 0;
}
nav > ul > li{
    display: block;
    padding: 7px;
    margin: 0 0.4rem;
    list-style: none;
    font-weight: bold;
    color: black;
    background-color: #d4c0c0;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(4px, 3px, 7px, 0.2);
     transition: ease-in-out 0.3s;
}
nav > ul > li > a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: 'roboto', sans-serif;
    transition: ease-in-out 0.3s;
}
nav > ul >li:hover{
    color: gold;
    background-color: #503737;
    transform: rotate(9deg);
}
nav > ul > li > a:hover{
    color: gold;
    transform: rotate(9deg);
}
main{
    padding-top: 50px;
}
section{
    width: 80%;
    margin: 0 auto 10px auto;
    max-width: 800px;
    background-color: #e6c6c6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(200, 250, 245, 1.2);
}
h2{
    font-family: cursive;
    font-style: italics;
    text-decoration: underline;
    font-size: 1.7em;
    text-transform: uppercase;
    padding-top: 10px;
    margin-top: 0;
    border-bottom: 3px solid #796d6d;
}
.info{
    padding: 10px 0 0 15px;
    font-size: 1.2em;
    line-height: 1.6em;
    margin-right: 15px;
}
input{
    font-size: 1rem;
    padding: 8px;
    border: 2px solid #796d6d;
    border-radius: 5px;
}
.info label, .info input{
    display: inline-block;
    margin-bottom: 2px;
}
.info input{
    text-align: center;
    width: 50%;
}
.info label{
    width: 10%;
    text-align: right;
    min-width: 60px;
    font-size: 18px;
}
.question-block{
    margin-bottom: 20px;
    display: block;
    text-align: left;
    width: 100%;
    padding-top: 5px;
}
button{
    margin: 40px auto;
    display: block;
    width: 100%;
    max-width: 300px;
    color: rgb(20, 15, 15);
    background-color: #d4c0c0;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    border: 3px solid #af8888;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(120, 220, 100, 0.2);
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
button:hover{
    background-color: #503737;
    color: gold;
    transform: scale(1.15);
}
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 1.3rem;
    font-family: cursive;
    margin-top: 0;
}
footer a{
    color: gold;
    text-decoration: underline;
    transition: ease-in-out 0.2s;
}
footer a:hover{
    color: rgb(107, 102, 102);
    transform: scale(2.15);
}
address{
    text-align: center;
    padding: 0.3em;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}